 <header>
  <div class="container p-5">

  <nav>
 <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"  routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill"   routerLinkActive="active" routerLink="about">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill"  routerLinkActive="active" routerLink="products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="pill"  routerLinkActive="active" routerLink="contact">Contact</a>
    </li>
  </ul>
</nav>
</div>
</header>
<router-outlet></router-outlet>

