<section id="products" class="products section">
  <div class="container">
    <h1>Products</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, placeat ipsa? Quisquam, pariatur nulla itaque
      soluta, eos sequi eaque dolore, voluptatibus deserunt voluptas neque doloremque praesentium earum nobis? Sit, sed.
    </p>
    <div class="row">
    <div class="col-12 col-md-4 pb-2">
      <div class="card" style="width:200px">
        <img class="card-img-top" src="assets\Rectangle61.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text" style="color:black">Some example text some example text. John Doe is an architect and
            engineer</p>
          <a routerLink="mobile" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 pb-2">
      <div class="card" style="width:200px">
        <img class="card-img-top" src="assets\Rectangle61.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text" style="color:black">Some example text some example text. John Doe is an architect and
            engineer</p>
          <a routerLink="laptop" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    
    <div class="col-12 col-md-4 pb-2">
      <div class="card" style="width:200px">
        <img class="card-img-top" src="assets\Rectangle61.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text" style="color:black">Some example text some example text. John Doe is an architect and
            engineer</p>
          <a routerLink="washing" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
